@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


nav {
    background-color: white;
    height: 127px;
    display: flex;

}

nav img {

}

nav button {
    width: 140px;
    height: 61px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

nav #btn-1 {
    color: #8D34FF;
    background-color: #E6D2FF;
}

nav #btn-2 {
    color: white;
    background-color: #8D34FF;
}












@media (max-width: 425px) {
    nav {
        overflow-x: none;
    }
}

@media (max-width: 850px) {
    
}